:root {
  /* Paleta de Cores Nossa Aura Brindes */
  --color-primary: #5b2a86;
  --color-secondary: #6eed96;
  --color-tertiary: #f49908;
  --color-support-1: #a973bf;
  --color-support-2: #eee3f2;
  --color-support-3: #cef3db;
  --color-support-4: #fde7c4;
  --color-bg: #f7f7f7;
  --color-text: #1c1c1c;
  --color-white: #ffffff;

  /* Tipografia Global (Mapeando as fontes do Next.js) */
  --font-heading: var(--font-yeseva), serif;
  --font-body: var(--font-josefin), sans-serif;
}

/* Reset Base */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-body); /* Aplica Josefin Sans em tudo por padrão */
  -webkit-font-smoothing: antialiased;
}

/* Os títulos usarão a Yeseva One e a cor primária por padrão */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  font-weight: 400;
  color: var(--color-primary);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
}
